<!-- <p>sidebar works!</p> -->

<div class="sidebar">
        <div class="sideNavbar nav_title">
           <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
        </div>
        <div class="profile clearfix">
        <div class="profile_pic">
        <img src="images/profile.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
        <span>Welcome,</span>
        <h2>John Doe</h2>
        </div>
        </div>			
        <div class="sideMenu">
          <div class="menu_section active">	
            <h3>General</h3>				
            <ul class="nav side-menu">
                <li class="">
                  <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul id="" class="nav child_menu collapse">
                        <li class="current-page"><a href="index.html">Dashboard</a></li>
                        <li><a href="#">Dashboard2</a></li>
                        <li><a href="#">Dashboard3</a></li>
                    </ul>
                </li>
                <li>
                 <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                 <i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                    <ul id="" class="nav child_menu collapse">
                        <li><a href="#">General Form</a></li>
                        <li><a href="#">Advanced Components</a></li>
                        <li><a href="#">Form Validation</a></li>
                        <li><a href="#">Form Wizard</a></li>
                        <li><a href="#">Form Upload</a></li>
                        <li><a href="#">Form Buttons</a></li>
                    </ul>
                </li>
                <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
                <ul id="" class="nav child_menu collapse">
                    <li><a href="#">General Elements</a></li>
                    <li><a href="#">Media Gallery</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Icons</a></li>
                    <li><a href="#">Glyphicons</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Invoice</a></li>
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Calendar</a></li>
                </ul>
                </li>
                <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                 <ul id="" class="nav child_menu collapse">
                    <li><a href="#">Tables</a></li>
                    <li><a href="#">Table Dynamic</a></li>
                 </ul>
                </li>
                <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="far fa-chart-bar"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                <ul id="" class="nav child_menu collapse">
                    <li><a href="#">Chart JS</a></li>
                    <li><a href="#">Chart JS2</a></li>
                    <li><a href="#">Moris JS</a></li>
                    <li><a href="#">ECharts</a></li>
                    <li><a href="#">Other Charts</a></li>
                </ul>
                </li>
                <li>
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="far fa-copy"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                <ul id="" class="nav child_menu collapse">
                    <li><a href="#">Fixed Sidebar</a></li>
                    <li><a href="#">Fixed Footer</a></li>
                </ul>
                </li>
                </ul>
          </div>	
          <div class="menu_section">
            <h3>Live On</h3>
            <ul class="nav side-menu">
            <li>
            <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
            <ul id="" class="nav child_menu collapse">
                <li><a href="#">E-commerce</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Project Detail</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
            </li>
            <li>
            <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
            <ul id="" class="nav child_menu collapse">
                <li><a href="#">403 Error</a></li>
                <li><a href="#">404 Error</a></li>
                <li><a href="#">500 Error</a></li>
                <li><a href="#">Plain Page</a></li>
                <li><a href="#">Login Page</a></li>
                <li><a href="#">Pricing Tables</a></li>
            </ul>
            </li>
    
            <li><a href="#"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success float-right">Coming Soon</span></a></li>
            </ul>
            </div>		
        
        </div>
      <div class="sidebar-footer">	
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-dark active">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
               <i class="fas fa-cog"></i>
            </a>
          </label>
          <label class="btn btn-dark">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
              <!-- <i class="fas fa-compress-arrows-alt"></i> -->
              <i class="fas fa-compress"></i>
            </a>
          </label>
          <label class="btn btn-dark">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
             <i class="far fa-eye-slash"></i>
            </a>
         </label>
         <label class="btn btn-dark">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
             <i class="fas fa-sign-out-alt"></i>
            </a>
         </label>
        </div>
    </div>	
    </div>
